@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');

html{
    font-size: 62.5%;
}
body{
    font: 1.6rem sans-serif;
    letter-spacing: .1rem;
    line-height: 1.6;
    margin: 0;
}
*{
    box-sizing: border-box;
}
h1,h2,h3,h4{
    margin: 0;
}
ul,ol,p,figure{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    display: inline-block;
    object-fit: cover;
    vertical-align: middle;
}