@import url(./reset.css);
@import url(style.css);


html {
    font-size: 62.5%;
    transition-duration: 1s;
}
.theme-dark{
    background: linear-gradient(to top, rgba(2, 2, 2, 0.5)50%, rgba(0, 0, 0, 0.5)50%),
    url(../asset/cover.jpg)no-repeat fixed center center / cover;
   
   
}
.theme-light{
    background: linear-gradient(to top, rgba(233, 228, 228, 0.2)10%, rgba(233, 228, 228, 0.2)10%),
    url(../asset/cover.jpg)no-repeat fixed center center / cover;
   
    
}
body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4e0101;
    color: white;
    padding: 2rem;
    text-align: center;
}

header h1 {
    font-family: "Protest Revolution";
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    background-color: #ec0000;
    padding: 1rem 0;
}


nav ul li {
    display: inline;
    margin-right: 2rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}
nav ul li a:hover {
    color: #000000; 
}
main {
    padding: 2rem;
}

section {
    text-align: center;
    margin-bottom: 20rem;
}

section h1 {
    color: #fff;
    margin-bottom: 1rem;
}

section h2 {
    color: #fff;
    margin-bottom: 1rem;
}

section h3 {
    color: #fff;
    margin-bottom: 2rem;
}

section h4 {
    color: #fff;
    margin-bottom: 0rem;
}

.logo-cine {
    display: inline-block;
    width: 5rem;
    vertical-align: middle;
}

section img {
    width: 100%;
}

.grid-2,
.grid-12 {
    max-width: 90rem;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 1rem;
    border-radius: .4rem;
}

.grid-2 ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    align-items: center;
}

.grid-2 ul li * {
    color: #fff;
    user-select: none;

}
.grid-2 ul li p{
    user-select: none;
}
.grid-2 ul li img {
    border-radius: 3rem;
}

.grid-12 ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;

}

.grid-12 {
    margin-top: 5rem;
}

.grid-12 ul li img {
    height: 20rem;
    border-radius: 3rem;
}

.grid-12 h4 {
    text-align: center;
    color: #fff;
    font-size: 3.5rem;
}

div.form {
    max-width: 100rem;
    margin: 5rem auto;
    color: #fff;
}

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
    background-color: #d80606;
    border: 0;
    color: rgb(255, 245, 245);
}


input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
input[type='week'],
input:not([type]),
textarea,
select {
    background-color: #fcf8f8;
    
}
footer {
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    bottom: 0;
    width: 100%;
}
.switch {
    position: relative;
    display: inline-block;
    vertical-align: auto;
    width: 56px;
    height: 30px;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d5d1d1;
    }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #000000;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #000000;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
 
  .slider.round {
    border-radius: 34px; 
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* composant warning */
  div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm{
    line-height: inherit;
  }